
<a id="{{ link }}"></a>
#### Method `{{ name }}`

{{desc}}

##### Params
{%- if params | length %}
{% for field in params %}
* `{{ field["name"] }}` - <em>`{{ field["type"]}}`</em>, {{ field["desc"] }}
{%- endfor %}
{%- else %}
* None
{%- endif %}

##### Returns
{% if return_type | length %}
{%- for field in return_type %}
* `{{ field["name"] }}` - <em>`{{ field["type"]}}`</em>, {{ field["desc"] }}
{%- endfor %}
{%- else %}
* None
{%- endif %}

---

